@import '../../mediaQueries.scss';

.show-item-container {
    background-color: white;
    height: 70vh;
    width: 70%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 30px;

    .form {
        margin-bottom: 30px;
    }
}

@media (min-width: $breakpoint-tablet) {
    .show-item-container {
        width: 40%;
    }
}

@media (min-width: $breakpoint-middle) {
    .show-item-container {
        width: 50%;
    }
}

@media (min-width: $breakpoint-desktop) {
    .show-item-container {
        width: 30%;
    }
}