.item-container {
    align-items: center;
    // background:gray;
    border-radius: 2px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.15);
    display: flex;
    font-size: 12px;
    justify-content: space-between;
    margin-bottom: 6px;
    padding: 3px 10px;

    .buttons-container {
        .btn {
            margin-right: 20px;
        }
    }
}